# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [57]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import norm
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [37]:
# Your code here:
e = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [38]:
# Your code here:
e.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [39]:
# Your code here:
e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33702 non-null  object
 1   Job Titles         33702 non-null  object
 2   Department         33702 non-null  object
 3   Full or Part-Time  33702 non-null  object
 4   Salary or Hourly   33702 non-null  object
 5   Typical Hours      8174 non-null   float64
 6   Annual Salary      25528 non-null  float64
 7   Hourly Rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [40]:
# Your code here:
print('Total hourly: ', list(e['Salary or Hourly']).count('Hourly'))
print('Total salaried: ', list(e['Salary or Hourly']).count('Salary'))

Total hourly:  8174
Total salaried:  25528

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [41]:
# Your code here:

e.groupby(['Department']).count()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,38,38,38,38,0,38,0
ANIMAL CONTRL,75,75,75,75,12,63,12
AVIATION,1856,1856,1856,1856,1214,642,1214
BOARD OF ELECTION,111,111,111,111,0,111,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,44,44,44,44,2,42,2
BUILDINGS,258,258,258,258,0,258,0
BUSINESS AFFAIRS,167,167,167,167,7,160,7
CITY CLERK,88,88,88,88,0,88,0
CITY COUNCIL,362,362,362,362,74,288,74
COPA,123,123,123,123,0,123,0
CULTURAL AFFAIRS,74,74,74,74,10,64,10
DAIS,1033,1033,1033,1033,745,288,745
DISABILITIES,28,28,28,28,1,27,1
FAMILY & SUPPORT,656,656,656,656,357,299,357
FINANCE,544,544,544,544,45,499,45
FIRE,4627,4627,4627,4627,0,4627,0
HEALTH,467,467,467,467,2,465,2
HOUSING,66,66,66,66,0,66,0
HOUSING & ECON DEV,154,154,154,154,3,151,3
HUMAN RELATIONS,17,17,17,17,0,17,0
HUMAN RESOURCES,75,75,75,75,0,75,0
INSPECTOR GEN,95,95,95,95,0,95,0
LAW,398,398,398,398,48,350,48
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,104,104,104,104,17,87,17
OEMC,1737,1737,1737,1737,1077,660,1077
POLICE,13848,13848,13848,13848,24,13824,24
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,84,84,84,84,2,82,2
PUBLIC LIBRARY,1088,1088,1088,1088,356,732,356
PUBLIC SAFETY ADMIN,244,244,244,244,48,196,48
STREETS & SAN,2175,2175,2175,2175,1846,329,1846
TRANSPORTN,1113,1113,1113,1113,726,387,726
TREASURER,28,28,28,28,0,28,0
WATER MGMNT,1914,1914,1914,1914,1558,356,1558

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [45]:
# Your code here:
# hourly wage of all hourly workers is significantly different from $30/hr?

#e.pivot_table(columns=["Department", 'Title'], aggfunc=['mean'], values=['Salary'])

h = e[e['Salary or Hourly']=='Hourly']['Hourly Rate']
stat, pvalue = ttest_1samp(h,30)
print(pvalue)

3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [47]:
# Your code here:
p = e[(e['Department']=='POLICE')&(e['Salary or Hourly']=='Salary')]['Annual Salary']
stat, pvalue = ttest_1samp(p,86000)
print(pvalue)

1.2239133904242963e-75

Using the `crosstab` function, find the department that has the most hourly workers.

In [50]:
# Your code here:
pd.crosstab(e['Department'], e['Salary or Hourly']=='Hourly')

Salary or Hourly     False  True
Department
ADMIN HEARNG            38      0
ANIMAL CONTRL           63     12
AVIATION               642   1214
BOARD OF ELECTION      111      0
BOARD OF ETHICS          8      0
BUDGET & MGMT           42      2
BUILDINGS              258      0
BUSINESS AFFAIRS       160      7
CITY CLERK              88      0
CITY COUNCIL           288     74
COPA                   123      0
CULTURAL AFFAIRS        64     10
DAIS                   288    745
DISABILITIES            27      1
FAMILY & SUPPORT       299    357
FINANCE                499     45
FIRE                  4627      0
HEALTH                 465      2
HOUSING                 66      0
HOUSING & ECON DEV     151      3
HUMAN RELATIONS         17      0
HUMAN RESOURCES         75      0
INSPECTOR GEN           95      0
LAW                    350     48
LICENSE APPL COMM        1      0
MAYOR'S OFFICE          87     17
OEMC                   660   1077
POLICE               13824     24
POLICE BOARD             2      0
PROCUREMENT             82      2
PUBLIC LIBRARY         732    356
PUBLIC SAFETY ADMIN    196     48
STREETS & SAN          329   1846
TRANSPORTN             387    726
TREASURER               28      0
WATER MGMNT            356   1558

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [51]:
# Your code here:
p = e[(e['Department']=='STREETS & SAN')&(e['Salary or Hourly']=='Hourly')]['Hourly Rate']
stat, pvalue = ttest_1samp(p,35)
print(pvalue)

6.580474443773579e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
# Your code here:

t.interval(alpha=0.95, df=(len(e)-1), loc=np.mean(e['Hourly Rate']), scale=np.std(e['Hourly Rate'])/(len(e)**0.5))

(34.44461302711882, 34.728286410122095)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [60]:
# Your code here:

t.interval(alpha=0.95, df=(len(e)-1), loc=np.mean((e['Department']=='POLICE')&(e['Salary or Hourly']=='Salary')), scale=np.std(e['Hourly Rate'])/(len(e)**0.5))

(0.2683466804050726, 0.552020063408351)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: