In [3]:
import pandas as pd

In [4]:
m = pd.read_csv("./data/Medium_Clean.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
m.head()

,Unnamed: 0,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Reading_Time,...,Tag_travel,Tag_trump,Tag_ux,Tag_venture-capital,Tag_web-design,Tag_web-development,Tag_women,Tag_wordpress,Tag_work,Tag_writing
0,2,Online Animation: Mixamo vs Norah AI,Online animations tools provide game designers...,1,Emma Laurent,NaN,2017,8,1,5,...,0,0,0,0,0,0,0,0,0,0
1,5,A.I. ?,NaN,0,Sanparith Marukatat,NaN,2017,8,1,2,...,0,0,0,0,0,0,0,0,0,0
2,11,"Futures of AI, Friendly AI?",From Physics of the Future: How Science Will S...,1,Z,NaN,2017,8,1,3,...,0,0,0,0,0,0,0,0,0,0
3,12,The Value Generated through AI led Mindfulness,A true product co-created by the Millennials,1,Emiko Sawaguchi,MILLENNIALSTIMES,2017,8,1,5,...,0,0,0,0,0,0,0,0,0,0
4,17,"Os Melhores Links de JulhoCmeras Vintage, Goog...",mas pera a?,1,Giovani Ferreira,NEW ORDER,2017,8,1,3,...,0,0,0,0,0,0,0,0,0,0

In [6]:
m.shape

(1391033, 108)

In [7]:
#null_cols
null_cols = m.isnull().sum()
null_cols[null_cols > 0]

Title           48813
Subtitle       440557
Publication    971655
dtype: int64

In [8]:
m.columns

Index(['Unnamed: 0', 'Title', 'Subtitle', 'Image', 'Author', 'Publication',
       'Year', 'Month', 'Day', 'Reading_Time',
       ...
       'Tag_travel', 'Tag_trump', 'Tag_ux', 'Tag_venture-capital',
       'Tag_web-design', 'Tag_web-development', 'Tag_women', 'Tag_wordpress',
       'Tag_work', 'Tag_writing'],
      dtype='object', length=108)

In [10]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391033 entries, 0 to 1391032
Columns: 108 entries, Unnamed: 0 to Tag_writing
dtypes: float64(1), int64(101), object(6)
memory usage: 1.1+ GB

In [13]:
# Descriptive Stats Table
m[['Unnamed: 0', 'Title', 'Subtitle', 'Image', 'Author', 'Publication',
  'Year', 'Month', 'Day', 'Reading_Time', "Claps"]].describe()

,Unnamed: 0,Image,Year,Month,Day,Reading_Time,Claps
count,1.391033e+06,1.391033e+06,1.391033e+06,1.391033e+06,1.391033e+06,1.391033e+06,1.391033e+06
mean,7.899109e+04,6.174512e-01,2.017608e+03,6.391335e+00,1.573437e+01,3.630148e+00,1.092326e+02
std,1.185557e+05,4.860097e-01,4.882375e-01,3.409542e+00,8.816255e+00,3.385274e+00,1.039822e+03
min,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,8.562000e+03,0.000000e+00,2.017000e+03,3.000000e+00,8.000000e+00,2.000000e+00,0.000000e+00
50%,2.073400e+04,1.000000e+00,2.018000e+03,6.000000e+00,1.600000e+01,3.000000e+00,1.000000e+00
75%,8.975000e+04,1.000000e+00,2.018000e+03,9.000000e+00,2.300000e+01,5.000000e+00,3.600000e+01
max,4.375080e+05,1.000000e+00,2.018000e+03,1.200000e+01,3.100000e+01,5.150000e+02,2.910000e+05

In [12]:
# Correlation Table
m[['Unnamed: 0', 'Title', 'Subtitle', 'Image', 'Author', 'Publication',
  'Year', 'Month', 'Day', 'Reading_Time', "Claps"]].corr()

,Unnamed: 0,Image,Year,Month,Day,Reading_Time,Claps
Unnamed: 0,1.000000,0.114647,0.022086,-0.009662,0.002492,0.062328,0.069984
Image,0.114647,1.000000,0.019520,-0.016535,-0.004010,0.136924,0.048623
Year,0.022086,0.019520,1.000000,-0.848944,-0.004944,0.017663,0.010128
Month,-0.009662,-0.016535,-0.848944,1.000000,-0.000315,-0.010752,-0.009464
Day,0.002492,-0.004010,-0.004944,-0.000315,1.000000,-0.000565,0.000384
Reading_Time,0.062328,0.136924,0.017663,-0.010752,-0.000565,1.000000,0.077830
Claps,0.069984,0.048623,0.010128,-0.009464,0.000384,0.077830,1.000000

In [20]:
# Testing the difference than an image makes
img = m[m["Image"]==0]
m['Claps'].corr(img['Claps'])

0.9999999999999999